set timeout=3

menuentry 'Ethjar lubuntu' {
	set isofile="/iso/lubuntu-17.04-desktop-amd64.iso"
	loopback loop $isofile
	linux (loop)/casper/vmlinuz.efi boot=casper iso-scan/filename=$isofile persistent liveimg noprompt noeject quiet splash --
	initrd (loop)/casper/initrd.lz
}

menuentry 'Ethjar Tails' {
	set isofile="/iso/tails-amd64-3.1.iso"
	loopback loop $isofile
	linux (loop)/live/vmlinuz boot=live findiso=${isofile} config quiet splash
	initrd (loop)/live/initrd.img
}

